body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section *//*Test Git branch*/

.main-content-section {
  padding: 100px 90px;
}

.main-content-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* About me section */

.about-me-section {
  margin-bottom: 40px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 20px 0;
  color: black;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: black;
  margin: 0 0 25px 0;
}

.about-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

/* My progects section */
.my-projects-section {
  margin: 0 0 50px 0;
}

.my-progects-list {
  padding: 0 0 0 17px;
}

.my-progects-item {
  color: black;
  font-weight: bold;
}

.my-progects-text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 5px;
}

.my-progects-link {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.my-progects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

/* My work experience section */

.my-work-experience-company {
  color: #fb6d3a;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.my-work-experience-divider {
  color: black;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-company-block {
  margin: 0 15px 0 0;
}

/* My educatiom section */

.my-educatiom-block {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.my-education-section {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.my-education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

/* Sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-section {
  margin: 50px 0 0 40px;
}

.tech-skills-section {
  margin: 50px 0 0 40px;
}

.soft-skills-section {
  margin: 50px 0 0 40px;
}

.language-section {
  margin: 50px 0 0 40px;
}
 
.sidebar-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* Contacts section */

.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

/* Tech skills section */

.tech-skills-list {
  padding: 0 0 0 17px;
}

.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* Soft skills section */

.soft-skills-list {
  padding: 0 0 0 17px;
}

.soft-skills-item {
  color: #fb6d3a;
}

.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* Language section */

.language-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.language-item {
  color: #fb6d3a;
}

.language-list {
  padding: 0 0 0 17px;
}
